body {
    background-color: black;
    color: white;
}
.btn {
    background-color: rgb(128, 219, 176, 0);
    color: rgb(255, 255, 255, .6);
    border: none;
    font-size: 3rem;
}
.backBtn {
    transform: rotateY(180deg);
    position: absolute;
    top: 40%;
    left: -2.5rem;
}
.forwardBtn {
    position: absolute;
    top: 40%;
    right: -2.5rem
}
.main-content {
    border: 4px solid white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    position: relative;
    /* border: 3px solid rgb(128, 219, 176); */
    height: 60vh;
    width: 70%;
    background: url("../images/pic-1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
ion-icon {
    background-color: rgb(128, 219, 176, 0);
}